.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
*.json
service_account.json
include/metabase-data/metabase.db/metabase.db.mv.db
include/metabase-data/metabase.db/
*.db
*.mv.db